h1{
   background-color: #4aaaa5;
   font-family: 'Georgia', Times, 'Times New Roman', serif; 
}
.nameheader{
  color:white;
  width: 25%;
  padding: 25px; 
  }
.aboutlink, .portfoliolink, .contactlink{}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
.main{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    overflow: auto;

}
